<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Sermon List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="public/style/styleA.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.413.0.min.js"></script>
    
    
</head>
<body>
    <div class="container">
        <h1>Sermon List</h1>

        <ul>
            <li><a id='11-4-2018 AM Service.wav' href="/aws/2">3-17-2019 AM Service "Dead To Me"</a></li>
            <li><a id='11-4-2018 AM Service.wav' href="/aws/1">11-4-2018 AM Service</a></li>
        </ul>
    </div>

    <div class="container">
        <a href="https://www.calvarybaptistmacclenny.com/"><button type="button" class="btn btn-dark">Go back to Calvary's Website</button></a>
    </div>
</body>
</html>