<!DOCTYPE html>
<html lang="en-US">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <head>
        <title>Building Free Websites or Software Applications for Christ Centered Churches</title>
        
        <link rel="stylesheet" type="text/css" href="../style/style.css">
        <link href="https://fonts.googleapis.com/css?family=Felipa|Raleway|Source+Sans+Pro" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
        
        
    </head>
    
    <body>
        <!-------------------NavBar---------------------------->
        <nav>
            <h1 class="navH1">H<sup>3</sup></h1>
            <h1 class="navH1"><a href="https://bbn1.bbnradio.org/english/how-to-get-to-heaven/" target="_blank">Salvation</a></h1>
        </nav>
        
        <!-------------------Graphic Logo---------------------->
        <div class='graphic'>
            <div id='sketch-parent'></div>
            <p class="logo"><span id='logoHide'>H<sup>3</sup></span> Software Development</p>
        </div>
        
        <!-------------------Header---------------------------->
        <section>
            <header>
                <div>
                    <p>Matthew 28:19-20,</p>
                    <ul><em>
                        <li>19 Go ye therefore, and teach all nations, baptizing them in the name of the Father, and of the Son, and of the Holy Ghost: </li>
                        <li>20  Teaching them to observe all things whatsoever I have commanded you: and, lo, I am with you always, even unto the end of the world. Amen. </li></em>
                    </ul>
                    
                </div>
            </header>
        </section>
        <!-------------------Parallax---------------------------->
        <div class="parallax">
            <h6 class="p-text">As Christians, we are called to spread the news that Christ died for all.  
		One increasingly important medium we should use is the internet.  
		Allow me the blessing of creating your ministry's website to aid in the 
		fulfillment of the Great Commission. <br> 
		In addition, by God's grace, I can build software or Excel templates to help 
		a ministry streamline it's administrative functions.
	    </h6>
        </div>
        <!-------------------Services---------------------------->
        
        
        
        
        <!-------------------Projects---------------------------->
        <section id="mainProject">
            <h1 class="logo">Projects</h1>
            <div class="childProject">
                <a target="_blank" href="http://hcubedcoder.com/DonationTool1">
                    <div class="pictureDR"></div>
                </a>    
                <div>  
                    <p>Click the thumbnail to download the Donation Tool<br><br>
			Donation Tool is a simple donation recording application.  The tool is best suited for 
			small non-profits to digitally record donations.  The application only works on a Windows Operating System at the moment. For instructions on how to run the app, 
			<a style="color:blue;" href="http://www.hcubedcoder.com/DonationTool2">Click Here</a>
		    </p>
                </div>    
            </div>
	    <div class="childProject">
                <a target="_blank" href="http://hcubedcoder.com/DonationTool3">
                    <div class="pictureDRA"></div>
                </a>    
                <div>  
                    <p> 
			This thumbnail is a zip folder that contains an Excel Template that can be used to 
			record donations.  You must already own a version of Excel in order to run the template.
			<br><br>Instructions for use are included in the downloaded folder.
		    </p>
		    <p><br><br>If you need any help using or setting up either the Excel Template or the Donation Tool App, please email hcubedcoder@gmail.com.</p>
                </div>
            </div> 
            <div class="childProject">
                <a target="_blank" href="http://www.222commission.org/">
                    <div class="pictureMI222"></div>    
                </a>
                <div>
                    <p>Here is a missionary website built using CSS, HTML and Javascript. </p>
                </div> 
            </div>
            <div class="childProject">
                <a target="_blank" href="https://sound-doctrineministry.org">
                    <div class="pictureCMS"></div>    
                </a>
                <div><p>This link is the homepage to 'Sound Doctrine', a Radio Broadcast Ministry produced by WAFT Radio in Valdosta, GA.  The Pastor is Rick Hofmeister.  The site is a single page application built with Angular and hosted with Node.js on a AWS Lightsail instance</p>
                </div> 
            </div>
	    <div class="childProject">
                <a target="_blank" href="http://www.hcubedcoder.com/aws">
                    <div class="pictureAWS"></div>    
                </a>
                <div><p>This project hosts a pastor's sermons online so anyone can listen.<br>  The files are kept in AWS S3 Storage.  The techonology for the backend uses Node.js and the Amazon Web Services Software Development Kit.</p>
                </div> 
            </div>
        </section>
        
        <!-------------------FORM------------------------------>
        
        <!--<section>-->
            
        <!--</section>-->
        
        <!-------------------Footer---------------------------->
    
        <footer>
            <div>
                <h6>Copyright &copy; 2017 | Website by H<sup>3</sup></h6>
            </div>
        </footer>
        
        
        <script src="../js/index.js"></script>
        <script language="javascript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.1/p5.js"></script>
        <script language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.1/addons/p5.dom.js"></script>
    </body>
</html>