<!DOCTYPE html>
<html lang="en-US">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <head>
        <title>Building Free Simple Websites for Christ Centered Churches</title>
        
        <link rel="stylesheet" type="text/css" href="../style/style.css">
        <link href="https://fonts.googleapis.com/css?family=Felipa|Raleway|Source+Sans+Pro" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
        
        
    </head>
    
    <body>
        <!-------------------NavBar---------------------------->
        <nav>
            <h1 class="logo">H<sup>3</sup></h1>
            <h1><a href="https://bbn1.bbnradio.org/english/how-to-get-to-heaven/" target="_blank">Salvation</a></h1>
        </nav>
        <!-------------------Header---------------------------->
        <div id='sketch-parent'>
            
        </div>
        <section>
            <header>
                <div>
                    <p class="logo" id="logoHide">H<sup>3</sup> Web Development</p>
                    <br>
                    <p>Matthew 28:19-20,</p>
                    <ul><em>
                        <li>19 Go ye therefore, and teach all nations, baptizing them in the name of the Father, and of the Son, and of the Holy Ghost: </li>
                        <li>20  Teaching them to observe all things whatsoever I have commanded you: and, lo, I am with you always, even unto the end of the world. Amen. </li></em>
                    </ul>
                    
                </div>
            </header>
        </section>
        <!-------------------Parallax---------------------------->
        <div class="parallax">
            <h6 class="p-text">As Christians, we are called to spread the News that Christ died for all.  One increasingly important medium we can use is the internet.  Allow me the blessing of creating your ministry's website to aid in the fullfillment of the Great Commission.</h5>
        </div>
        <!-------------------Services---------------------------->
        
        <section>
            <h1 class="logo">How I can Help</h1>
            <div class="services">
                <div class="servicesOne">
                    <i class="fas fa-desktop fa-4x"></i>
                    <p class="centered">First, I build websites using clean, standard complaint code.  Your site won't contain unwanted content such as advertisments.  Your ministry would have direct control of the site's content.</p>
                </div>
                <div class="servicesTwo">
                    <i class="fas fa-server fa-4x"></i>
                    <p class="centered">Second, once your site is built, the real fun begins.  Back-end programming is constructed and your site is ready for hosting.  I will walk you through your hosting options or take care of it myself.</p>
                </div>
                <div class="servicesThree">
                    <i class="fab fa-wordpress fa-4x"></i>
                    <p class="centered">If you desire to be more involved with the content of your site, we can use Wordpress.  Wordpress will allow you to change the content of the website yourself when you prefer.</p>
                </div>
                <div class="servicesFour">
                    <a href="mailto:hcubedcoder@gmail.com"><i class="far fa-envelope-open fa-4x"></i></a>
                    <p class="centered">Pray about it and send me an email if you want to communicate further about how I can help!</p>
                </div>
            </div>
        </section>
        
        
        <!-------------------Projects---------------------------->
        <section id="mainProject">
            <h1 class="logo">Projects</h1>
            <div class="childProject">
                <a target="_blank" href="http://drdesignremodeling.com/">
                    <div class="pictureDR"></div>
                </a>    
                <div>
                    <p>This is my first commercial project I did for a local construction company.</p>
                </div>    
            </div>
            <div class="childProject">
                <a target="_blank" href="https://frozen-atoll-55876.herokuapp.com/">
                    <div class="pictureCBC"></div>    
                </a>
                <div>
                    <p>Here is an example church website built using only CSS and HTML.  It is currently hosted on a free Heroku server, so it will take a bit longer to load up.</p>
                </div> 
            </div>
            <div class="childProject">
                <a target="_blank" href="https://hubbardharvey3.github.io/WP_Example/">
                    <div class="pictureCMS"></div>    
                </a>
                <div><p>This link will take you to look at a static version of a website built via the Wordpress framework.  Although Wordpress is more expensive to host, the framework allows you to directly edit the website's content.</p>
                </div> 
            </div>
        </section>
        
        <!-------------------FORM------------------------------>
        
        <!--<section>-->
            
        <!--</section>-->
        
        <!-------------------Footer---------------------------->
    
        <footer>
            <div>
                <h6>Copyright &copy; 2017 | Website by H<sup>3</sup></h6>
            </div>
        </footer>
        
        
        <script src="../js/index.js"></script>
        <script language="javascript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.1/p5.js"></script>
        <script language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.1/addons/p5.dom.js"></script>
    </body>
</html>